#
# Requirements for running django-pylibmc tests
#

# Django
Django>=1.8,<2.1

# This project
-e .

# Packaging
wheel==0.30.0
twine==1.9.1

# PEP8, PEP257, and static analysis
flake8==3.5.0

# Code coverage
coverage==4.4.2

# Packaging Linters
check-manifest==0.36
pyroma==2.3

# Multi-env test runner
tox==2.9.1
